<form action="/named-cat" method='post'>
  <label>Set New Name:</label>
  <input type="text" name="name">
  <br>
  <label>Set Border Colour:</label>
  <label for='red'>Red</label>
  <input id='red' type='radio' name='colour' value='red'>
  <label for='blue'>Blue</label>
  <input id='blue' type='radio' name='colour' value='blue'>
  <label for='green'>Green</label>
  <input id='green' type='radio' name='colour' value='green'>
  <br>
  <label>Cute:</label>
  <label for='false'>false:</label>
  <input id='false' type='checkbox' name='cute' value='false'>
  <br><br>
  <input type="submit" value="Submit">
</form>
