<h1>Hello!</h1>

<h3>links:</h3>

<a href='/secret'>Secret</a><br>

<a href='/banana'>Banana?</a><br>

<a href='/recipe'>Recipe</a><br>

<a href='/random-cat'>Want a random cat?</a><br>

<a href='/cat-form'>Cat Registration</a><br>


